
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Montserrat+Alternates:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* :root{
    font-size: x-large;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
	scroll-behavior: smooth ;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #1E6FE3;
    overflow: hidden;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.logocontainer i{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 10px;
    color: #ffffff;
}
.logocontainer{
    display: inline-block;
    border-bottom: .35px solid #ffffff;
    animation-duration: 3s;
    animation-name: slideinleft;
    font-family: 'Poppins', sans-serif;
}

  
  @keyframes slideinleft {
    from {
      margin-left: 20%;
    }
  
    to {
      margin-left: 0%;
    }
  }

.logo {
    margin-top: 10px;
    margin-left: 10px;
    width: 2.3em;
    height: 2.3em;
    transform: rotate(-20deg);
    color: #ffffff;
    animation: bouncy 2s linear;
}

@keyframes bouncy {

    0% {
      opacity: 1;
      transform: rotate(0deg);
    } 
  
    50% {
      opacity: 1;
      transform: rotate(90deg);
    }

    70% {
        opacity: 1;
        transform: rotate(180deg);
      }
  
    100% {
      opacity: 1;
      transform: rotate(360deg);
      transform: scale(1);
    }
  }

.first{
    font-size: 30px;
    margin-top: -10px;
    color: #ffffff;
   
}

.second{
    font-size: 20px;
    color: #ffffff;
  
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    z-index: 2;
    animation-duration: 3s;
    animation-name: slideinright;

    font-family: 'Poppins', sans-serif;
}


@keyframes slideinright {
from {
  margin-right: 10%;
}

to {
  margin-left: 0%;
}
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
     margin: 0 5px;
     padding-top: 30px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 18px;
    border-radius:3px;
    letter-spacing: 1px;
    transition: all .2s ease-out;
    margin: 0 5px; 
    padding: 20px;
}





#click{
    color: #ffffff;
    font-size:22px;
    cursor: pointer;
    display: none;
  
}
.icon i{
    color: #ffffff;
    font-size:30px;
    margin-top: 20px;
    margin-left: -20px;
    /* z-index: 2; */
    cursor: pointer;
    display: none;

}
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../Images/wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1{
    animation: wavy 5s linear infinite;
    z-index: 9;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes wavy {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x:1000px;
    }
    
}

section .wave.wave2{
    animation: wavy2 7s linear infinite;
    z-index: 100;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes wavy2 {
    0%{
        background-position-x: 0px ;
    }
    100%{
        background-position-x:-1000px;
    }
    
}

section .wave.wave3{
    animation: wavy 7s linear infinite;
    z-index: 98;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}


section .wave.wave4{
    animation: wavy2 7s linear infinite;
    z-index: 98;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 10px;
}

.rocket{
    margin-top: -50px;
}
.rockettext1{
    font-size: 30px;
    font-weight: bold;
    margin-left: 70px;
    margin-bottom: 600px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    
}
.rockettext2{
    font-size: 30px;
    font-weight: bold;
    margin-left: 880px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;

}
.rocket img{
    margin-top: 70px;
    position: relative;
    margin-left: 250px;
    width: 500px;
    height: 300px;
    animation: fly 2s ;
    transition: .2s ease-in;
}

.btn{
    display: block;
    padding: 20px;
    margin-left: 900px;
    margin-top: -200px;
    bottom: 500;
    border-radius: 20%;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #3586ff;
    transition: .2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover{
    
    border: 1px solid #ffffff;
}
.btn a{
    text-decoration: none;
    cursor: pointer;
}
@keyframes fly {
    0%{
        margin-top: 800px ;
        /* margin-left: 50px; */
    }
    100%{
        margin-top: 70px ;
        transform: rotate(0deg);
        display: none;
    }
    
}



.page-section1 h1{
    color: #08306b;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left:390px;
    
    /* margin-bottom: -550px; */
    font-family: 'Poppins', sans-serif;
}
.page-section2 h1{
    color: #08306b;
    display: inline-block;
    margin-top: 70px;
    margin-left:570px;
    
    font-family: 'Poppins', sans-serif;
}

.menu2{
    display: flex;
    margin-left: 30px; 
    /* width: 100%; */
   
}
.page-section1{
    margin-left: 100px;
    overflow-x: hidden;
    /* width: 100%; */
}
.menu1{
    display: flex;
    /* height: 500px; */
   /* margin-left: 200px; */
   width: 100%;
    justify-content: space-around;  
 }
#Benefits img{
    width: 300px;
    height: 300px;
    
}

.menu1 span{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #08306b;
}
.menu1about {
   background-color: #dbd7d7;
   border-radius: 10px;
   height: 150px;
   width: 300px;
   padding: 30px 30px 30px 30px;
   color: #08306b;
   font-size: 13px;
  text-align: justify;
   justify-content: center;
   align-content: center;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
   
}

.menu2 img{
    width: 350px;
    height: 300px;
   
}

.arrow img{
    margin-top: 70px;
    width: 60px;
    height: 50px;
}
.card1{
    width: 300px;
    height: 200px;
    border: 1px solid #9c9c9c;
    border-radius: 20%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.Card3{
    width: 500px;
    height: 500px;
}
@media (max-width:760px)
{

  nav .logo {
      font-size: 20px;
      margin-right: 140px;
  }
  nav .logo span{
      font-size:22px;
  }
   nav ul {
       position: fixed;
       top:80px;
       left: -100%;         /* hides the nav list*/
       height: 100vh;
       width: 100%;
       display: block;
       background-color: #3586ff;
       color: #000000;
       text-align: center;
      transition: all .3s ease;
    }

    .icon i{
        display: block;
        z-index: 1;
        position: relative;
       }
    #click{
        display: none;
        position: absolute;
        z-index: -1;
        margin-top: 16px;
        margin-right: -20px;
 
    }

   #click:checked ~ ul {
    left:0%;           /* displays the nav list when the bar icon is checked/pressed */
   }

   #click:checked ~ .icon i::before{          /*changes the bar icon into X  */
       content: "\f00d";
   }
   nav ul li {
       margin:40px 0;
   }

   nav ul li a {
       font-size:23px;
   }



.rocket img{

    margin-left: 70px;
}

.rockettext1{
    margin-top: 20px;
    margin-left: 70px;
    
}
.rockettext2{
    margin-left: 120px;
    margin-top: 40px;
}

.btn{

    padding: 20px;
    margin-left: 60px;
    margin-top: -300px;
}

}


.jobs{
    margin-bottom: 130px;
    margin-top: 20px;
}

.jobs h1{
    color: #08306b;
    display: inline-block;
    margin-top: 20px;
    margin-left:500px;
    margin-bottom: 70px;
    font-family: 'Poppins', sans-serif;
}

/* --- Card3 ---- */

.Card3{
    position: relative;
    display:inline-block;
    width: 300px;
    height: 300px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 60px;
    overflow: hidden;
    background: #3586ff;
    border-radius: 20px;
    box-shadow: rgba(6, 33, 63, 0.129412) 0px 
      1px 2px 0px;
    -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .Card3 img{
    position: absolute;
    top:50%;
    left:50%;
    width: 250px;
    height: 250px;

    -webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%,-50%);
    -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
  }
  .Card3:hover img{top:30%;opacity: 0.5;}
  
  .Card3 .overlay{
    position: absolute;
    bottom:calc(-80% + 50px);
    left: 10px;
    width: 100%;
    height: 80%;
    color:#ffffff;
    background: #3586ff;
    -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
  }
  .Card3:hover .overlay{bottom:0px;}
  
  .Card3 .overlay .line{width: 100%;text-align: center;line-height: 10px;padding:20px 20px 20px 20px;}
  .Card3 .overlay .contents{text-align: center;padding: 20px 20px 20px 20px;}
  
  
  
  
  
  @media screen and (max-width: 700px){
  
  
    /* --- Card3 ---- */
  
    .Card3{width: 100%;height: auto;margin: 1em 0em;}
    .Card3:hover img{top:30%;opacity: 0.5;}
  
    .Card3 .overlay{
      position: relative;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 200px;
    }
    .Card3 img{
      position: relative;
      display: block;
      width: 100%;
      height: auto;
    -webkit-transform: translate(-50%, 0%);-moz-transform: translate(-50%, 0%);-ms-transform: translate(-50%, 0%);-o-transform: translate(-50%, 0%);transform: translate(-50%,0%);
    }
    .Card3:hover .overlay{bottom:0px;}
    .Card3:hover img{top:50%;opacity: 1;}
  }


  /* Partner organizations */

  .boxsection{
   display: flex;
   justify-content: space-around;
  }

.partnerorganizations h1{
    color: #08306b;
    display: inline-block;
    margin-top: 70px;
    margin-left:460px;
    font-family: 'Poppins', sans-serif;
}


 
  /* ------------------ */
  /* Hiring Process */

  .hiringprocess h1{
      margin-left: 550px;
      margin-bottom: 90px;
      color: #08306b;
      font-family: "Poppins","sans-serif";
  }
  .pimg{
      display: flex;
  }

  .join-btn{
      padding: 20px;
      margin-top: -20px;
      margin-left: 600px;
      font-size: 15px;
      font-weight: bold;
      background-color: #3586ff;
      color: #ffffff;
      font-family: "Poppins","sans-serif";
      border-radius: 10px;
      outline: none;
      border: 1px solid;
      transition: transform .2s;
  }

  .join-btn:hover{
    color: #3586ff;
    background-color: #ffffff;
    border: 1px solid #3586ff;
    cursor: pointer;
     
  }

  .hireorder{
      display: flex;
      margin-left: 170px;
      width: 1100px;
      justify-content: space-around;
  }

  .stepicon {
      display: inline-block;
      position: relative;
      padding: 10px;
      width: 50px;
      height: 50px;
      align-content: center;
      font-weight: bold;
      background-color: #fffefe;
      border: 1px solid #acacac;
      border-radius: 60px;
      
     
  }

  .step{
    transition: transform .2s;
    margin-bottom: 50px;
  }
 .step:hover{
    transform: scale(1.25);
 }
.title{
    font-family: "Poppins",'sans-serif';
    font-size: 14px;
    color: #08306b;
    margin-left: -20px;
    text-align: center;
    text-transform: uppercase;
}
  .stepicon span{
    position: absolute;
    left: 18px;
    top: 13px;
    font-family: "Poppins",'sans-serif';
    font-size: 15px;
    color: #acacac;
   
}



.divider1{
    width: 180px;
    position: absolute;
    left: 310px;
    margin-top: 30px;
    border-bottom: 2px solid #acacac;
}

.divider2{
    width: 180px;
    position: absolute;
    left: 580px;
    margin-top: 30px;
    border-bottom: 2px solid #acacac;
}

.divider3{
    width: 180px;
    position: absolute;
    left: 840px;
    margin-top: 30px;
    border-bottom: 2px solid #acacac;
}

.desc{
    width: 210px;
    height: 140px;
    margin-left: -40px;
    margin-top: 10px;
    background-color: #dbd7d7;
    border-radius: 10px;
    font-size: 14px;
    color: #08306b;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-family: "Poppins",'sans-serif';
   
}

.bottomjoin{
    margin-left:350px;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: "Poppins", "sans-serif";
    font-weight: bold;
    color: #08306b;
    cursor: pointer;
}


/* Cookies Consent */
.wrapcookie{
    position: fixed;
    bottom: 100px;
    left: 520px;
    z-index: 101;
    background-color: #fff;
    visibility: hidden;
    max-width: 330px;
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    font-family: "Poppins","sans-serif";
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    text-align: center;
}

/* @keyframes bringup {
    0%{
        bottom: 0px; 
    }
    50%{
        bottom: 40px; 
    }
    100%{
        bottom: 120px; 
        display: block;
    }
} */
.wrapcookie.hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
  ::selection{
    color: #fff;
    background: #FCBA7F;
  }
  .wrapcookie img{
    max-width: 90px;
  }

  .content header {
    font-size: 25px;
    font-weight: 600;
  }
  .content{
    margin-top: 10px;
  }
  .content p{
    color: #b3aaaa;
    margin: 5px 0 20px 0;
    text-align: center;
  }
  .buttons button{
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: #FCBA7F;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .buttons button:hover{
    transform: scale(0.97);
  }
  .buttons .item{
    margin: 0 10px;
  }
  .buttons a{
    color: #FCBA7F;
  }


  /* Accessibility Options */

  .accesible{
    position: relative;
      color: #3586ff;
     
      width: 50px;
      height: 50px;
      border-radius: 130px;
      z-index: 150;
      transition: .3s transform ease-in-out;
    }
  .modal-btn{
  
     z-index: 150;
     width: 50px;
      height: 50px;
     position: fixed;
     left: 20px;
      bottom: 10px;
      margin-bottom: 20px;
      border-radius: 130px;
      color: #3586ff;
      cursor: pointer;
      box-shadow: 5px 5px 5px 2px rgba(90, 89, 89, 0.73);
  }

  .modal-btn img{
      background-color: #3586ff;
      width: 60px;
      height: 60px;
      position: relative ;
      left: -3px;
      bottom: 4px;
      position: relative;
      border-radius: 130px;
  }
  .modal-btn:hover{
      transform: scale(1.2);
  }

  .modal{
      position: fixed;
      width: 300px;
      height: 300px;
      bottom: 140px;
      z-index: 101;
      color: #000000;
      text-align: center; 
      margin-left: 20px;
      border-radius: 20px;

        display: none;

  }

  .modal header{
      font-family: "Poppins","sans-serif";
      color: #fff;
      padding: 10px;
      background-color: #3586ff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 1px solid #fff;
  }

  #closeme{
      width: 30px;
      height: 30px;
      margin-top: 0px;  
      float: right;  
      cursor: pointer;
      border-radius: 30px;
      transition: .2s ease-in;
  }

  #closeme:hover{
    transform: scale(1.25);
    
  }

  .option{
    background-color: #f1ecec;

      font-family: "Poppins";
  }

  .option img{
        float: right;
      padding: 1px;
      
      transition: .2s transform;
     

  }
  .option img:hover{
      transform: scale(1.25);
  }
  .option ul{
      list-style: none;
  }
  .option li {
      padding: 10px;
      border-bottom: 1px solid #9c8c8c;
      font-size: 11px;
      cursor: pointer;
      color: #000000;
  }
  /* .option li:hover{
        background-color: #fdfcfc;
        color: #08306b;
        border: 1px solid #c9c7c7;
  } */
  .option button{
      background: none;
      border: none;
      font-size: 16px;
      font-family: "Poppins";
  }


  .option span{
      font-size: 18px;
      cursor: pointer;
      color: #000000;

  }
  
  .option span:hover{
      color: #326dc5;
  }
  /* Footer */

.footer{
    display: flex;
    /* height: 200px; */
    justify-content: space-around;
    margin-top: 30px;
    background-color: #1E6FE3;
    box-shadow: 1px 5px 5px 2px rgba(0,0,0,0.73);
}

.col{
    margin: 20px auto;
    margin-bottom: 20px;
}

.col h3{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #acacac;
}
.col h6{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 9px;
    font-size: 12px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    color: #08306b;
}


.form-control{
    background-color: #fdfcfc;
    padding: 10px;
    outline: none;
    border: none;
    width: 250px;
}

.subscribe-btn{
    padding: 8px;
    cursor: pointer;
}

.subscribe-btn:hover{
    background-color: #3586ff;
    color: #fdfcfc;
    border: 1px solid #08306b;
}


.col li {

    list-style: none;
    padding: 4px;
    color: #000;

}

.col a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    opacity: .5;
}
.subscribe-btn{
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    border: none;
    padding: 10px;
}
.f_social_icon{
    display: flex;
    justify-content: space-around;
    
}
.f_social_icon img{
   margin-top: 20px;
    width: 30px;
    height: 30px;
    opacity: 1;
}

@media (max-width:760px){

    body{
        overflow-x: hidden;
    }

    .page-section1 h1{
        
        margin-left:50px;
      
    }
    .page-section2 h1{
     
        margin-left:50px;
        
       
    }
    .menu2{
        display: block;
        margin-left: 30px; 
 
       
    }
    .menu1{
        display: block;
        margin-left: 70px;
     }

     .menu1 span{
        font-size: 20px;
        margin-left: -90px;
        color: #08306b;
    }

    .menu1about{
        margin-left: 70px;
    }
    /* .desc{
        margin-left: 20px;
        font-size: 11px;
        align-items: center;
    } */

    

  .Card3 .overlay{

    left: 10px;
  }

  .hiringprocess h1{
    margin-left: 40px;
   
}
  .hireorder{
    display: block;
    margin-right:40px;
    
}
.divider1 , .divider2 , .divider3{
    display: none;
}

.step{
    transition: transform .2s;
    margin-bottom: 50px;
    text-align: justify;
  }
 .step:hover{
    transform: scale(1);
 }

 

 .join-btn{
   
    margin-left: 160px;
    margin-top: -20px;
    margin-bottom: 100px;
  
}

.jobs h1{
    
    margin-left:50px;
 
}

.bottomjoin{
    margin-left:100px;
    margin-bottom: 30px;
    font-size: 20px;

}
.step img{
    width: 70px;
    height: 70px;
}
.title{
    font-size: 22px;
}
.desc{
    margin-left: -90px;
    width: 290px;
    height: 155px;
    font-size: 20px;
}
.footer{
    display: block;
    margin-left: 0px;
    
}
.col {
    margin-top: 0px;
    margin-bottom: 0px;
   
    display: block;
    background-color: #3586ff;
}

.boxsection {
    display: block;
  }

  .boxsection img{
      display: block;
      margin-left: 160px;
      margin-top: 10px;
  }

 
.partnerorganizations h1{
  
    margin-left:60px;

}

.wrapcookie{

    bottom: 120px;
    left: 90px;
   
}

.modal-btn{
  margin-left: 10px;
 }
}
.fcon{
    display: flex;
    text-align: left;
}

@media (max-width:760px){

    .page-section1{
        margin-top: 50px;
        margin-left: 10px;
    }
    .page-section1 h1{
        margin-left: 30px;
    }
    .page-section1 img{
        margin-top: 30px;
        margin-left: 20px;
    }
    .page-section2 h1{
        margin-left: 150px;
    }
    .menu1about{
        margin-left: 30px;
    }
    .jobs h1{
        margin-left: 90px;
    }
    .hiringprocess h1{
        margin-left: 20px;
    }
    .hiringprocess{
        margin-left: 80px;
    }
    .hireorder{
        margin-left: 100px;
    }
    .bottomjoin{
        margin-left: -60px;
        margin-bottom: 50px;
    }
    .fcon{
        display: block;
        text-align: center;
    }
    .join-btn{
        margin-left: 80px;
        margin-bottom: -20px;
    }
    .pimg{
        display: block;
        margin-left: 250px;
        margin-top: 20px;
    }

}